.container-event {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 150px;
    width: 450px;
    background: #19b583;
    padding-bottom: 550px;
    border-radius: 19px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.icon-container {
    width: 100%;
    text-decoration: none;
}

.icon-align-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-left: 150px;
    margin-top: -25px;
    font-size: 20px;
    color: red;
    text-decoration: none;
}

.out-text {
    margin-right: 8px;
}

.out {
    vertical-align: top;
}


.text {
    color: #3c009d;
    font-size: 36px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}



.icon-click {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
}

.icon-out {
    text-decoration: none;
    color: inherit;
    margin-left: 10px;
}


.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 60px;
    background: #eaeaea;
    border-radius: 6px;
}

img {
    margin: 30px -120px;
    border-radius: 10px;
}

.img img {
    width: 300px;
    height: 150px;
}

.body-detail {
    width: 400px;
    padding-top: 200px;
}

#detail {
    margin-left: 25px;
    margin-right: 25px;
}

.detail-item {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.input-gender {
    width: 800px;
    color: #797979;
    background: transparent;
    height: 50px;
    border: none;
    font-size: 19px;
    outline: none;
}

.input-gender option {
    color: #797979;
    background: transparent;
    height: 50px;
    border: none;
    font-size: 19px;
    outline: none;
}

.icon-detail {
    display: inline-block;
    margin-left: -5px;
    margin-right: 5px;
    font-size: 20px;
}

.icon-detail-edit {
    display: flex;
    margin-top: -25px;
    font-size: 20px;
    margin-left: 300px;
    font-size: 40px;
}

#icon-edit {
    padding-right: 15px;
}

.text-detail {
    margin-left: 1px;
}

.icon i {
    margin: 0px 10px;
}

.forgot-password {
    padding-left: 12px;
    margin-top: 27px;
    color: #797979;
    font-size: 14px;
}

.forgot-password span {
    color: #4c00b4;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 49px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    margin-top: -45px;
}

.gray {
    background: #EAEAEA;
    color: #676767;
}